@model IMTest.IM.Dto.IMRegisterInput
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form class="form-horizontal register-form" action="@(Url.Action("Test","Account"))" method="POST">
        <div>
            <p>Test</p>
            <div>
                @Html.LabelFor(model => model.UserId)
                @Html.EditorFor(model => model.UserId)
            </div>
            <div>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
            </div>
            <div>
                @Html.LabelFor(model => model.Role)
                @Html.EditorFor(model => model.Role)
            </div>
            <div>
                @Html.LabelFor(model => model.Appkey)
                @Html.EditorFor(model => model.Appkey)
            </div>
            <div>
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password)
            </div>
        </div>
        <div class="col-lg-12">
            <button type="submit" id="RegisterButton" class="btn btn-primary">zhuce</button>
        </div>
    </form>
</body>
</html>
