@using jrt.jcgl.Localization
<div ng-controller="common.views.makingproductions.index as vm">
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form">
                    <div class="form-body" style="padding-top:10px;padding-bottom:10px;">
                        <div class="input-group">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input type="number" class="form-control" ng-model="vm.value">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input type="date" class="form-control" ng-model="vm.startdate" placeholder="yyyy-MM-dd">
                                    </div>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <select class="form-control" ng-model="vm.type_selcet"
                                                ng-options="opt.name for opt in vm.types track by opt.value"
                                                ui-options='{ iconBase: "fa", tickIcon: "fa fa-check" }'
                                                required></select>
                                        <label>@L("Schedulings.Type")</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="form-group form-md-line-input inputs no-hint">
                                        <div class="portlet-input">
                                            <div class="input-group" ng-repeat="item in vm.organzations">
                                                <input ng-model="item.name" auto-focus readonly class="form-control" placeholder="@L("StockLog.HandleUserName")" type="text" required>
                                                <div class="input-group-btn">
                                                    <buttona ng-click="vm.openAddModal()" class="btn btn-xs btn-primary">
                                                        <i class="fa fa-minus"></i> 删除
                                                    </buttona>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div style="margin-bottom:0px;padding-top:24px;">
                <button class="btn btn-primary blue" ng-click="vm.addorganzation()"><i class="fa fa-plus"></i> @L("CreateNewMakingProductions")</button>
            </div>
            <div class="form-group" style="margin-bottom:0px;padding-top:24px;">
                <button class="btn btn-primary blue" ng-click="vm.createProductionPlan()"><i class="fa fa-plus"></i> @L("CreateNewMakingProductions")</button>
            </div>
        </div>
    </div>
</div>