@using jrt.jcgl.Localization
<div ng-controller="common.views.schedulingsdays.index as vm">
    <div class="portlet-body">
        <div class="form">
            <form class="horizontal-form">
                <div class="form-body" style="padding-left:0px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("DateQuery")</label>
                                <input type="date" id="date" name="input" ng-model="vm.date" ng-change="vm.getschedulings()"
                                       placeholder="yyyy-MM-dd" />
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h4>岗位:提取</h4>
                </div>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="work in vm.daywork" ng-if="work.memberType==0">
                            <td width="100">{{work.organzationName}}</td>
                            <td width="100">{{work.memberOneName}}</td>
                            <td width="100">{{work.memberTwoName}}</td>
                            <td width="100">{{work.memberThreeName }}</td>
                            <td width="100"s>
                                <span ng-show="work.workType==0" class="label label-success">@L("DayWork")</span>
                                <span ng-show="work.workType==1" class="label label-warning">@L("MiddleWork")</span>
                                <span ng-show="work.workType==2" class="label label-default">@L("NightWork")</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <h4>岗位:膜</h4>
                </div>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="work in vm.daywork" ng-if="work.memberType==1">
                            <td width="100">{{work.organzationName}}</td>
                            <td width="100">{{work.memberOneName}}</td>
                            <td width="100">{{work.memberTwoName}}</td>
                            <td width="100">{{work.memberThreeName }}</td>
                            <td width="100">
                                <span ng-show="work.workType==0" class="label label-success">@L("DayWork")</span>
                                <span ng-show="work.workType==1" class="label label-warning">@L("MiddleWork")</span>
                                <span ng-show="work.workType==2" class="label label-default">@L("NightWork")</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
